.container {
  border: initial;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  border-style: double;
  background-color: #12180e; 
  transition: transform 1.3s ease-in-out;
}

.container:hover {
  background-color: #ff0f34;

}
li{
	color: #000000;
}

.container:active {
  transform: scale(0.9);
}
.container {
  display: flex;
  justify-content: center;
}

h2 {
	color: #002430;
}
body{
  background:#ffffff ;
   background: url("a.jpg");
   color: #ff00ff;
}
 div.inicio {
   margin: 18px 16px;
    font-weight: 900;
    font-size: 3.4em;
    text-align: center;
  }

.colores{
  display: flex;
  width: 200px;
  height: 150px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
 color: #ccffff;
 transition: background 1.9s ease-in;
transition: background 1.9s ease-in;
transition: background 1.9s ease-in;
transition: background 1.9s ease-in;
transition: background 1.9s ease-in;
 } 

.galeria{
	display: flex;
	height: 20rem;
	gap: 1rem;
}
.galeria > div {
	flex:1;
	border-width: 5px;
	border-color: #8008A4;
	border-style: solid;
	border-radius: 1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.galeria > div:hover {
flex:5;
}
h1{
	border-radius: 4px;
	width: 500px;
    height: 70px;
	color: blueviolet;
	transition: background 1.9s ease-in;
}

.zoom{
	flex: 1;
	height: 20r;
	overflow: hidden;
	border-radius: 16px;
}
.zoom img {
	border-width: 5px;
	border-color: #8008A4;
	border-style: solid;
	object-fit: cover;
	transform: rotate(50deg);
	transition: transform 0.8s;
	height: 100%;
	transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.zoom:hover img{
	flex: 5;
	transform: scale(1.5);
}
